main {
    max-width: 95%;
    min-height: 80vh;
    margin: 1rem auto;
}

img {
    width: 100%;
    max-width: 30vw;
    /* margin: .5rem; */
}

/* MOBILE */
@media screen and (max-width: 320px) {
    nav {
        flex-direction: column;
        text-align: center;
    }

    nav li {
        display: block;
        margin-bottom: .5rem;
    }

    img {
        max-width: 100%;
    }
}

/* TABLETS */
@media screen and (max-width: 800px) {
    section {
        justify-content: space-between;
    }
}