<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/responsiveBox.css">
</head>
<body>
    <nav>
        <h1>Ebun Groves</h1>
        <ul class="links">
            <li>
                <a href="../index.html" class="link">Home</a>
            </li>
            <li>
                <a href="./about.html" class="link">About</a>
            </li>
            <li>
                <a href="./contact.html" class="link">Contact</a>
            </li>
        </ul>
    </nav>

    <main>
        <h1>

        </h1>
    </main>

    <footer>
        2024, David Adeleke Creation
    </footer>
</body>
</html>